.intropagenavbar__full-div{

    width: 100%;
    height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #CED1D5;
    box-shadow: -2px 2px 8px #a7a8a8;
    background-color: #ffffff;
    z-index: 10;
}

.intropagenavbar__upper-div{
    height: 50%;
    width: 100%;
    border-bottom: 1px solid #CED1D5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intropagenavbar__lower-div{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.intropagenavbar__site-name-div{
    width: 10rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.intropagenavbar__site-name{

    font-size: 2rem;
    font-family: 'Lora';
    color: 	#24A566;
    font-weight: 900;

}

.intropagenavbar__navlinks-div{
    width: calc(100% - calc(10rem + 20px));
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.intropagenavbar__signin-div{
    width: 10rem;
    margin-right: 10px;
}

.intropagenavbar__burger-button__div{
    display: none;
}

.intropage__mobile-navbar{
    display: none;
}


@media(max-width : 700px){

    .intropagenavbar__lower-div{
        justify-content: space-between;
    }
    
    .intropagenavbar__burger-button__div{
        display: block;
        width: 3rem;
        height: 2.5rem;
        margin-right: 10px;
        background-color: #cecece58;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .intropagenavbar__burger-button{

        height: 4px;
        width: 70%;
        background-color: #cecece;
        border-radius: 10px;
        position: relative;
        transition: transform 200ms ease-in-out , background-color 200ms ease-in-out;

    }

    .intropagenavbar__burger-button.open-intropage__navbar{
        transform: translateX(-10px);
        background-color: transparent;
    }

    .intropagenavbar__burger-button::before{
        
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: -10px;
        background-color: #cecece;
        border-radius: 10px;
        transform-origin: left;
        opacity: 1;
        /* transform: rotate(45deg) translateX(9px) translateY(-12px); */
        transition: transform 200ms ease-in-out;
        
    }
    
    .intropagenavbar__burger-button::after{
        
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 10px;
        background-color: #cecece;
        border-radius: 10px;
        transform-origin: left;
        /* transform: rotate(-45deg) translateX(9px) translateY(12px); */
        transition: transform 200ms ease-in-out;
        
    }

    .intropagenavbar__burger-button.open-intropage__navbar::before{

        transform: rotate(45deg) translateX(9px) translateY(-12px);

    }
    .intropagenavbar__burger-button.open-intropage__navbar::after{

        transform: rotate(-45deg) translateX(9px) translateY(12px);

    }

    .intropage__mobile-navbar{

        background-color: #F3F2EF;
        width: 100%;
        height: calc(100vh - 8rem);
        position: fixed;
        left: 0;
        top: 8rem;
        z-index: 9;

    }

    .intropage__mobile-navbar__inner-div{

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .intropage__mobile-navbar__navlinks-div{
        width: fit-content;
        height: fit-content;
        padding: 20px;
    }

    .intropagenavbar__navlinks-div{
        display: none;
    }

}