.leftnavbar__fulldiv{
    position: fixed;
    width: 4rem;
    height: 100%;
    left: 0;
    top: 4rem;
    background-color: white;
    /* filter: drop-shadow(0 0 4px rgba(0 , 0 , 0 , 0.3)); */
    filter: drop-shadow(0 0 1px #E0DFDC);
    display: flex;
    align-items: center;
    z-index: 12;
    border-right: 1px solid #E0DFDC;
}

.leftnavbar__navlinks__outer-div{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.leftnavbar__navlinks__inner-div{
    padding: 20px 20px 20px 0;
    position: relative;
}

.leftnavbar__navlinks__outer-div::-webkit-scrollbar{
    width: 0;
}

.leftnavbar__mycourse-button{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #F3F2EF;
    color: #7791A1;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
    min-width: 250px;
}

.leftnavbar__mycourse-button__span{
    margin-left: 20px;
    font-family: 'Barlow Condensed';
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 0.1px;
}

.leftnavbar__mycourse__dropdown-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.leftnavbar__enrolled-classes__inner-div{
    padding: 20px 20px 20px 0;
}

.class-avatar__full-div{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1967d2;
    padding: 2px;
}

.class-avatar__starting-letter{
    font-size: 1.2rem;
    color: white;
}





.leftnavbar__burger-button__div{
    display: block;
    width: 3rem;
    height: 2.5rem;
    margin-right: 10px;
    background-color: #cecece58;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: absolute;
    left: 8px;
    top: -2rem;
    transform: translateY(-50%);
}

.leftnavbar__burger-button{

    height: 4px;
    width: 70%;
    background-color: #cecece;
    border-radius: 10px;
    position: relative;
    transition: transform 200ms ease-in-out , background-color 200ms ease-in-out;

}

.leftnavbar__burger-button.open-intropage__navbar{
    transform: translateX(-10px);
    background-color: transparent;
}

.leftnavbar__burger-button::before{
    
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -10px;
    background-color: #cecece;
    border-radius: 10px;
    transform-origin: left;
    opacity: 1;
    /* transform: rotate(45deg) translateX(9px) translateY(-12px); */
    transition: transform 200ms ease-in-out;
    
}

.leftnavbar__burger-button::after{
    
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 10px;
    background-color: #cecece;
    border-radius: 10px;
    transform-origin: left;
    /* transform: rotate(-45deg) translateX(9px) translateY(12px); */
    transition: transform 200ms ease-in-out;
    
}

.leftnavbar__burger-button.open-intropage__navbar::before{

    transform: rotate(45deg) translateX(9px) translateY(-12px);

}
.leftnavbar__burger-button.open-intropage__navbar::after{

    transform: rotate(-45deg) translateX(9px) translateY(12px);

}

@media(max-width : 600px){
    .leftnavbar__fulldiv{
        left: -4rem;
    }

    .leftnavbar__burger-button__div{
        left: 72px;
    }
}