.drop-down__div{
    box-sizing: content-box;
    background-color: white;
    height: fit-content;
    width: 8rem;
    position: absolute;
    right: 0;
    top: 135%;
    border-radius: 5px;
    box-shadow: 0 16px 48px rgb(0 0 0 / 20%);
    border: 1px solid rgba(0, 0 , 0, 0.125);
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 14px 0 2px 0;
    z-index: 1;
}

.open-drop-down__div.drop-down__div{
    z-index: 1;
    display: block;
    display: flexbox;
}

.drop-down__div::before{
    content: ""; 
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    position: absolute;
    right: 1px;
    top: -12px;
    transform: rotate(45deg);
    z-index: 2;
    cursor: default;
    /* border-left: 1px solid #E0DFDC;
    border-top: 1px solid #E0DFDC; */
    border-radius: 4px 0 0 0;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.drop-down__div-items{
    /* box-sizing: content-box; */
    width: 100%;
    min-height: 2.5rem;
    height: fit-content;
    color: #474747;
    letter-spacing: 0.001px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 20px;
    font-family: 'Barlow Condensed';
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 0.1px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
    /* margin-bottom: 5px; */
}

.drop-down__div-items:hover{
    background-color: #e0dfdc62;
}