.home-page__full-div{
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    background-color: #F3F2EF;
    padding-top: 4rem;
}

.home-page__classes__div{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    margin-left: 17.5rem;
}

.home-page__enrolled-classes__div{
    height: fit-content;
    width: fit-content;
    padding: 10px;
}