.avatar__full-div{
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    border-radius: 100%;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-tracks: center;
    border: none;
    border: 2px solid #d3d3d3;
}
.avatar__full-div:focus{
    outline: none;
}
.avatar-image{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    transition: transform 500ms ease-in-out;
}

.avatar-image:hover{
    transform: scale(1.1);
}