.signup-page__full-div{
    width: 100%;
    padding-top: 8rem;
    background-color: #F3F2EF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-page__inner-div{
    width: 50%;
    height: 70%;
    border-radius: 5px;
    background-color: white;
    filter: drop-shadow(0 0 2px #E0DFDC);
}

.singup-page__form{
    width: 100%;
    height: 100%;
}

.singup-page__scrollable-div{
    height: 100%;
    width: 100%;
    overflow-x: scroll;
}

.singup-page__scrollable-div::-webkit-scrollbar{
    width: 0;
}