.class__people__full-div{
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    background-color: #F4F5F8;
}

.class__people__inner-div{
    padding: 5rem 2px 1rem 5rem;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

.class-people__admin-div,.class-people__teachers-div,.class-people__students-div{
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    margin-bottom: 20px;
}

.class-people__role-header{
    font-family: 'Barlow Condensed';
    font-weight: 500;
    font-size: 1.6rem;
    margin-left: 5px;
    color: #404040;
}

@media(max-width : 600px){
    .class__people__inner-div{
        padding-left: 2px;
    }
}